.propos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tit{
    width: 60%;
    position: relative;
}

.main__rectangle {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    margin: 50px 0;
    width: 90%;
}

.rectangle {
    background-color: #FF6060;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 50px;
    padding-left: 20px;
    cursor: pointer;
}

.tit p{
    background-color: #f7f7f7;
    margin: -10px 0;
    padding: 15px 20px;
    border-radius: 10px;
    z-index: -1;
}



.rectangle h3{
    font-size: 25px;
    position: absolute;
    left: 3%;
}

.fa-chevron-down{
    font-size: 30px;
    position: absolute;
    right: 3%;
}

.ouvert1, .ouvert2, .ouvert3, .ouvert4{
    display: flex;
}




.ferme1 ,.ferme2, .ferme3, .ferme4{
    display: none;
}

#up1, #up2, #up3, #up4, #up5, #up6{
    animation: rotation 0.5s forwards;
    rotate: 0deg;
}

@keyframes rotation {
    0%{
        rotate: 0deg;
    }
    
    100%{
        rotate: 180deg;
    }
}

