.accueil{
    position: relative;
    border-radius: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banniere{
    display: flex;
    border-radius: 25px;
    max-width: 1300px;
    width: 100%;
    object-fit: cover;
    height: 250px;
    filter: brightness(60%)
}

.titre_accueil{
    font-size: 50px;
    position: absolute;
    color: white;
    text-align: center;
}


.gallery{
    border-radius: 25px;
    width: 1300px;
    padding-top: 0px;
    background-color: #F7F7F7;
    padding: 70px 0;
}

.main{
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 50px;
}

@media screen and (max-width: 900px) {
    .banniere {
        height: 150px;
    }
        .titre_accueil {
            font-size: 30px;
        }

}

@media screen and (max-width: 500px) {
    .banniere {
        height: 120px;
        border-radius: 10px;
    }
    .titre_accueil {
        font-size: 20px;
    }
    .gallery{
        background-color: white;
    }


}