.car_img {
    height: 500px;
    width: 1240px;
    margin: 0;
    display: flex;
    border-radius: 25px;
    object-fit: cover;
}

.sec_car {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 500px;
    width: 90%;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
}

.sec_car div{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.dg {
    position: absolute;
    font-size: 100px;
    cursor: pointer;
    top: 200px;
    color: white;
}

#g {
    left: 30px;
    opacity: 0.7;
    transform: rotate(90deg);
    transition: all 0.2s ease;
}

#d {
    right: 30px;
    opacity: 0.7;
    transform: rotate(270deg);
    transition: all 0.2s ease;
}

#g:hover {
    opacity: 1;
    transform: rotate(90deg) scale(1.1);
}

#d:hover {
    opacity: 1;
    transform: rotate(270deg) scale(1.1);
}

@media screen and (max-width: 900px) {
    .sec_car {
        height: 300px;
    }
    .car_img{
        height: 300px;
    }
    .dg{
        top: 110px;
        font-size: 70px;
    }
    #d{
        opacity: 0.9;
    }
    #g{
        opacity: 0.9;
    }
        #g:hover {
            opacity: 1;
            transform: rotate(90deg) scale(1.3);
        }
    
        #d:hover {
            opacity: 1;
            transform: rotate(270deg) scale(1.3);
        }
}

@media screen and (max-width: 500px) {
    .sec_car {
            height: 260px;
            border-radius: 10px;
        }
    
        .car_img {
            height: 260px;
        }
    
        .dg {
            top: 110px;
            font-size: 30px;
        }
    
#g {
    left: 10px;

}

#d {
    right: 10px;
}
    
}