.main-footer{
    background-color: black;
    color: white;
    font-size: 13px;
    padding-top: 60px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    margin-top: 30px;
    width: 100vw;
}

.logow{
    width: 122px;
}