.main-footer{
    background-color: black;
    color: white;
    font-size: 13px;
    padding-top: 60px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    margin-top: 900px;
    height: 230px;
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: 0;
}

.logow{
    width: 122px;
}

@media screen and (max-width: 900px) {
    .main-footer {
        height: 200px;
        font-size: 10px;
    }
}

@media screen and (max-width: 500px) {
    .main-footer {
        height: 150px;
        font-size: 9px;
    }
        .logow {
            width: 100px;
        }
        .main-footer{
            padding-top: 33px;
        }
}